*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
body{
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.card{
  background-color: hsl(0, 0%, 100%);
  width: 320px;
  padding: 16px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  text-align: center;
}
.img{
  width: 100%;
  border-radius: 10px;
  display: block;
}
.text{
  padding: 24px 12px;
}
h1{
  color: hsl(218, 44%, 22%);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 16px;
}
p{
  color: hsl(216, 15%, 48%);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
}